body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.top-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgb(214, 160, 55);
    text-align: right;
}

.top-bar li {
   font-family: "Verdana";
   font-size: 1.4em;
   line-height: 50px;
   display: inline-block;
   margin-right:-3px; 
   text-align: center;
   height: 50px;
   width: 130px;
   color: #FFFFFF;
}

.top-bar li:hover {
   background-color: rgb(109, 164, 252)
}

.top-bar a {
   text-decoration: none;
   color: #FFFFFF;
   display: block;
}

.top-bar a:hover {
    background-color: rgb(109, 164, 252);
}

.top-bar li li {
  font-size: .8em;
}

.top-bar > ul > li {
  text-align: center;
}

.top-bar li ul {
  position: absolute;
  display: none;
  width: inherit;
}

.top-bar li:hover ul {
  display: block;
}

.top-bar li ul li {
  display: block;
}

.book-info {
    background-color: #e0e0e0;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px;
    margin-bottom: 110px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
}

h2 {
    font-family: "Verdana";
    color: #3C8CDA;
    padding-top: 30px;
    margin: auto;
}

.inputField {
    font-family: Verdana;
    border: 1.3px solid #B3B3B3;
    border-radius: 0.35em;
    font-size: 14px;
}

#add-book-height {
    height:650px;
}


.addBookPage {
    margin-top: 2em;
    width: 22em;
    height: 3.5em;
}

.request-button {
    width: 130px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 2.3px solid #B3B3B3;   
    border-radius: 5px;
    background-color: #3C8CDA;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}

.request-button:hover {
    background-color: #0099FF;
    color: white;
}