/* CSS for the home page*/

body {
    margin: 0px;
    background-color: white;
}

#banner {
    text-align: center;
    width: 750px;
}

#welcome-text {
    font-family: Tahoma;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    font-size: 50px;
    color: rgb(109, 164, 252);
}

#sjsu {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}


.main_div{
    text-align: center;
    font-family: Verdana;

    /* Set to minimum width and height for browser zoom and resize functionality */
    min-width: 1100px;
    min-height: 800px;
}


/** Represents the alien div element **/
#alien{
    position: fixed;
    float: left;
    left: -75px;
    bottom: 0px;
    transition-duration: 7s;
}

/** Represents the actual alien image **/
#alienimage{
    height: 200px;
    width: 350px;
}

#alien:hover{
    position: fixed;
    float: left;
    /** used for Safari **/
    -webkit-transform: translate(1150px,0px); 
    transform: translate(1150px,0px);
}

/** menu bar **/

.menu_bar {
    padding: 2em;
}

/** menu bar a tags **/
.menu_bar > a {

    background:#e0e0e0;
    border-radius: 0.2em;
    color:black;
    font-family:Verdana;	
    font-size: 1.3em;
    
    /* Adjusts how far the menu elements are */ 
    margin-right:0.19em;
    padding: 0.3em 1.2em;
    text-decoration:none;
    transition: background 0.4s linear 0s, color 0.4s linear 0s;
}

/** menu bar a tags hover **/
.menu_bar > a:hover {
    background: #0099FF;
    color: white;
}

/** vertical menu bar div  **/ 

.v-menu-bar-div {

    /** hides the scrollbar**/
    overflow:hidden;
    float:right;
    /** extended the padding to make room for the moving menu items */
    padding-left: 200px;
}

.vertical-menu-bar > li{
    /* show no bullets */
    list-style: none;
    /** change the padding to change the size of the menu items **/
    padding: 14px;
    background-color: #e0e0e0;
    margin-bottom: 8px;
    border-radius:0.3em;
    border-left: 18px solid rgb(214, 160, 55); 
 
    /** pushes the menu offscreen **/
    margin-right: -147px;

    /* by having a transition-duration the animation doesn't get all spazzy*/
    transition-duration: 1.0s;
    z-index:2
}


.vertical-menu-bar > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.v-menu-a:hover {
    background: rgb(109, 164, 252);
    /** how far the menu moves out to the left*/ 
    transform: translate(-135px,0px);
    /* for safari */
    -webkit-transform: translate(-135px,0px); 
    color: #FFFFFF;
}

.inputField {
    font-family: Verdana;
    border: 1.3px solid #B3B3B3;
    border-radius: 0.35em;
    font-size: 14px;
}

#search-bar-div {
    width: 650px; /** IMPORTANT when width was 600px sidebar behaved strangely */
    margin-left: auto;
    margin-right: auto;
}

#searchBar {
    margin-top: 2em;
    height: 3em;
    width: 32em;

}

/** used for login and forgotPassword pages */

.loginPage {
    margin-top: 2em;
    width: 22em;
    height: 3.5em;
}

/** submit button for the home page**/

#home_submit { 
    font-family: Verdana;
    background: #e0e0e0;
    width: 4.5em;    
    height: 4.5em;
    font-size: 12px;
    border-radius: 50%;
    border: 1.7px solid #B3B3B3;
    cursor: pointer;
}

/** submit button for the home page**/
#home_submit:hover {
    background: #5ECC5E;
    transition: background 0.4s linear 0s, color 0.4s linear 0s;
    color: white;
}


/** Class to represent login, forgot-password and registartion div */


.user-info {
    background-color: #e0e0e0;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px;
    margin-bottom: 110px;
    width: 400px;
    
    border-radius: 5px;
}

#login-height {
    height:450px;
}


#forgot-pw-height {
    height: 280px;
}


#registration-height{ 
    height: 880px;
}

/** Used for the header of login/forgotPassword **/

h2 {
    font-family: "Verdana";
    color: #3C8CDA;
    padding-top: 30px;
    margin: auto;
}


/** This is now the class for the login, send email , and registration button **/

.request-button {
    width: 130px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 2.3px solid #B3B3B3;   
    border-radius: 5px;
    background-color: #3C8CDA;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}

.request-button:hover {
    background-color: #0099FF;
    color: white;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

.delete-button {
    width: 130px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 2.3px solid #B3B3B3;   
    border-radius: 5px;
    background-color: #E00000 ;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #FF0000;
    color: white;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

/*fpr  == forgotPasswordRegister */

.fpr {
    margin-top: 70px;
    color: blue;
    text-decoration: none;
    color: #3C8CDA;
}

#forgotPassword {
    float:left;
    margin-left: 25px;
}

#register {
    float:right;
    margin-right: 25px;
}

.registrationPage {
    margin-top: 2em;
    width: 22em;
    height: 3.5em;
}

#register-send-button:hover {
    background-color: #0099FF;
    color: white;
    transition: background 0.2s linear 0s, color 0.25s linear 0s;
}


#down-button-div{
    margin-top: 50px;   
}




#down-button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Verdana;
    color: black;
    font-size: 30px;
    background:  #e0e0e0;
    border: 3px solid #B3B3B3;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
}


#banner {
    overflow: hidden;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 720px;
    position: relative;
}

.slides {
    position: absolute;
    width: 100%;
    height: 720px;
}


.slide-title {
    width: 100%;
    height: 50px;
    font-size: 70px;
    font-family: Tahoma;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 50px;
    display: inline-block;
}

.sub-heading {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 75px;
}

code {
    background-color: black;
    border: 2px solid black;
    border-radius: 0.2em;
    padding: 5px;
}

#slide1 {
    background-color: #D89F4A;
}

#slide2 {
    background-color: #2A7BB1;
    left: 150%;
}

#slide3 {
    background-color: #C3685D;
    left: 150%;
}

#slide2  code {
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 0.2em;
    font-weight: 600;

}

.home-buttons {
    background-color: #e0e0e0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}


.slide2-left{
    /* since the slides are centered, 0% represents the middle of the page */
    margin-left: -60%;
}

.slide2-right {
    margin-left: 60%;
}

#join-us-div{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
