/* CSS for the home page*/

#banner {
    text-align: center;
    width: 750px;
}

#blankspace {
    width: 800px;
    height: 1400px;
}

.main_div{
    margin-top: 2em;
    text-align: center;
    font-family: Verdana;
}

.menu_bar {
    padding: 2em;
}

.menu_bar > a {

	background:#e0e0e0;
	border-radius: 0.1em;
	color:black;
	font-family:Verdana;	
	font-size: 1.3em;

    /* Adjusts how far the menu elements are */ 
	margin-right:0.19em;
	padding: 0.3em 1.2em;
	text-decoration:none;
	transition: background 0.4s linear 0s, color 0.4s linear 0s;
}

.menu_bar > a:hover {
    background: #0099FF;
    color: white;
}

.inputField {
    border: 1.3px solid #B3B3B3;
    border-radius: 0.35em;
    font-size: 14px;
}

#searchBar {
    margin-top: 2em;
    height: 3em;
    width: 32em;
}


/** used for login and forgotPassword pages */

.loginPage{
    margin-top: 2em;
    width: 22em;
    height: 3.5em;
}

/** submit button for the home page**/

#home_submit{
    width: 4.5em;    
    height: 4.5em;
    font-size: 12px;
    border-radius: 50%;
    border: 1.3px solid #B3B3B3;
}

/** submit button for the home page**/
#home_submit:hover{
    background: #5ECC5E;
    transition: background 0.4s linear 0s, color 0.4s linear 0s;
    color: white;
}


/** Class to represent login, forgot-password and registartion div */

.user-info{
    background-color:  #e0e0e0;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px;
    margin-bottom: 110px;
    width: 400px;
    
    border-radius: 5px;
}

#login-height{
    height:450px;
}


#forgot-pw-height{
    height: 280px;
}


#registration-height{
    height: 680px;
}

/** Used for the header of login/forgotPassword **/

h2{
    padding-top: 30px;
    margin: auto;
}


/** This is now the class for the login, send email , and registration button **/

.request-button{
    width: 130px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 1.3px solid #B3B3B3;   
    border-radius: 5px;
    background-color: #3C8CDA;
}

.request-button:hover{
    background-color: #0099FF;
    color: white;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}



/*fpr  == forgotPasswordRegister */

.fpr {
    margin-top: 70px;
    color: blue;
    text-decoration: none;
    color: #3C8CDA;
}

#forgotPassword {
    float:left;
    margin-left: 25px;
}

#register {
    float:right;
    margin-right: 25px;
}




.registrationPage {
    margin-top: 2em;
    width: 22em;
    height: 3.5em;
}


#register-send-button:hover {
    background-color: #0099FF;
    color: white;
    transition: background 0.2s linear 0s, color 0.25s linear 0s;
}